*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: "italicc";
    src: url(assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: "VariableFont";
    src: url(assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}
.container{
    background-image: url(assets/images/OIP\ \(1\).jfif);
    width: 100%;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
background-color: rgb(216, 215, 215);
max-width: 900px;
height: auto;
display: grid;
grid-gap: 20px ;
padding: 20px;
grid-template-columns: repeat(4,1fr);
grid-auto-rows: 25px;
box-shadow: 0px 10px 20px black;
overflow: hidden;
font-family:'Lucida Sans';

}
.card div{

    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}
.one{
    grid-area: 1/1/9/1;
    background-color: hsl(39, 58%, 95%);
    font-size: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.one img{
    width: 150px;
    margin-top: 10px;
}
.one span{
    color:hsl(256, 67%, 59%);
}
.two{
    grid-area: 1/2/7/4;
   background-color: hsl(256, 67%, 59%);
     justify-content: center;
     align-items: center;
     font-size: 45px;
     color: white;
     padding: 20px;

}



.forx{
    color:hsl(39, 100%, 71%) ;
}

.two img{
    width: 120px;
    height: 20px;
    margin-left: 100px;

}
.two .end{
    font-size: 15px;
        margin-left: 80px;

}
.me{
    margin-left: 15px;
}
.three{
    grid-area: 1/4/12/4;
    background-color: rgb(228, 207, 255);
    padding: 20px;
      overflow: hidden;

   
}

.four{
grid-area: 9/1/17/1;
    background-color: hsl(39, 100%, 71%);
    font-size: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
            overflow: hidden;

}
.four img{
     width: 150px;
     height: 150px;
    margin-top: 30px;
}

.five{
grid-area:7/2/12/2;
background-color: white;
padding: 10px;
font-size: 22px;
font-weight: bold;
font-style: oblique;
overflow: hidden;


}
.five img{
    width: 200px;
    height: 50px;
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
}
.six{
grid-area: 7/3/12/3;
background-color: hsl(39, 100%, 71%);
font-size: 22px;
font-weight: bold;
font-style: italic;
padding: 10px;
overflow: hidden;
}
.six img{
    margin-top: 20px;
    width: 175px;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.seven{
    margin-top: 0px;
grid-area: 12/2/17/3;
background-color: white;
font-size: 15px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.seven p{
    font-size: 45px;
    font-weight: bold;
}
.seven img{
    width: 150px;
    margin-left: 20px;
    margin-top: 30px;
}
.eight{
grid-area:12/3/17/5;
background-color:  hsl(256, 67%, 59%);
color: white;
font-size: 25px;
display: flex;
padding: 10px;
font-weight: bold;
justify-content: space-between;
align-items: center;
}
.eight p{
    margin-top: 10px;
    margin-left: 20px;
}
.eight img{
    width: 150px;
    height: 120px;
}
.first{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.middle img{
    margin-top: 10px;
    width:300px;
    height: 220px;
        margin-bottom: 10px;

   
}
.word{
        font-family: "italicc";

}
@media (max-width: 992px) {
  .card {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
  }

  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    grid-area: auto;
    margin: 0;
  }
}

/*@media (max-width: 600px) {

  .container {
    padding: 20px;
    height: auto;
  }

  .card {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr; /* عمود واحد 
    gap: 20px;
    padding: 15px;
  }

  .card > div {
    grid-area: auto !important;
    margin: 0 !important;
    width: 100%;
  }

  .two {
    font-size: 28px;
    text-align: center;
  }

  .two img {
    margin: 10px auto;
    display: block;
  }

  .five,
  .six,
  .seven {
    font-size: 16px;
    text-align: center;
  }

  .three {
    font-size: 16px;
    text-align: center;
  }

  .middle img {
    width: 100%;
    height: auto;
  }

  .eight {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .eight img {
    width: 120px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}*/










@media (max-width:600px) {
    .card{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px;
        grid-auto-rows: 50px;

    }
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight{
    width: auto;
    padding: 10px;
    overflow: hidden;
}
.two{
    grid-area: 1/1/5/1;
    font-size: 35px;
    display: grid;
    place-items: center;

}
.two img{

margin-left: 70px;
}
.two .end{
    
    margin-left: 30px;
}
.five{
        grid-area: 5/1/7/1;
        display: grid;
        font-size: 20px;

}
.six{
        grid-area: 7/1/10/1;
        display: grid;
        font-size: 25px;
        padding: 15px;


}
.six img{
    margin-top: 20px;
}

.three{
    grid-area: 10/1/16/1;
    display: grid;
    place-items: center;

}
.three img{
        margin-top: -30px;

}
.final{
    margin-top: -50px;
}
.eight{
      grid-area: 16/1/21/1;
      display: grid;
      place-items: center;
      padding: 20px;
      font-size: 28px;
          text-align: center;
      
}

.eight img{

    width: 200px;
    height: 180px;
}
.seven{
    grid-area: 21/1/24/1;
    padding: 20px;
   
}
.one{
    grid-area: 24/1/27/1;
    padding: 20px;
}
.four{
    grid-area: 27/1/31/1;
    display: grid;
    place-items: center;
    padding: 30px;
    font-size: 20x;
    text-align: start;
    
}
.four img{
    height: 150px;
    margin-top: 5px;
}
}
